<h1>CDs</h1>
@if (@Model.Count == 0)
{
  <h3>No CDs have been added yet!</h3>
}
@foreach (var cd in Model)
{
  <h3><a href='/cds/@cd.GetId()'>@cd.GetTitle()</a></h3>
  <h3><a href='/cds/@cd.GetId()'>@cd.GetGenre()</a></h3>
}
<p><a href='/'>Back home</a></p>
