<h1>Add an artist</h1>
<p>Add an artist here:</p>
<form action="/artistNames" method="post">
  <label for="artist-name">Artist name</label>
  <input id="artist-name" name="artist-name" type="text">
  <button type="submit">Add an artist to your list!</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/artists">Back to artists.</a></p>
